.modal {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    width: 100%;
    outline-style: none;
}

.editPage {
    width: 30vw;
    height: fit-content;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    padding: 1vw;
    text-align: center;
}

.editDiv {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.editFormDiv {
    width: 100%;
    background-color: white;
}

.editForm {
    margin-bottom: 2vw;
}


.birthdayCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 12px 12px 12px;
}

.birthdayCheckbox { 
    margin: 12px;
}

.birthdayCheck > p { 
    font-size: 21px;
}

.locationCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.locationCheckbox { 
    margin: 12px;
}

.locationCheck > p { 
    font-size: 21px;
}


.avatarCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.avatarCheckbox { 
    margin: 12px;
}

.avatarCheck > p { 
    font-size: 21px;
}




.editFormImage {
    display: flex !important;
    justify-content: center;
}

.editFormImage > div {
    width: 55%;
    margin: 25px 0px;
    transition: 0.35s;    
}

.editFormImageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16 / 9;   
    background-color:#067BE2;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    color: white;
    cursor: pointer;
    transition: 0.35s;    
}

.editFormImageArea:hover {
    opacity: 75%;
}


.editFormImageArea > input {
    background-color:white;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    text-align: center;
}

.editFormImageArea > i {
    margin-top: 26px;
    font-size: 1.45rem;
}

.editFormImageArea > p {
    font-size: 1.48rem;
}

.editFormImagePreview {
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.editFormImagePreview > i {
    text-shadow: 0px 0px 4px black;
}
    
.editFormImagePreview > p {
    text-shadow: 0px 0px 4px black;
}

div:has(> .editFormImagePreview) {
    width: 70%;
}







.editFormButtonsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editFormButtons {
    width: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editFormButtons > * {
    margin: 1.5vw 1vw 1.5vw 1vw;
}

.editFormButtons > p {
    color: #067BE2;
    font-size: 1.045vw;
    transition: 0.2s;
}

.editFormButtons > p:hover {
    opacity: 75%;
    cursor: pointer;
}


.editXDiv {
    display: flex;
    justify-content: end;
}

.editX {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.editX > img {
    width: 0.95vw;
    filter: invert(37%) sepia(48%) saturate(6009%) hue-rotate(193deg) brightness(97%) contrast(95%);
}

.editFormTitle {
    width: 100%;
    padding: 2.2vw 0vw 1.6vw 0vw;
    display: flex;
    justify-content: center;
}

.editFormTitleText {
    font-size: 2vw;
}


.editFormDiv > form {
    text-align: center;
}


.editeditDiv {
    text-align: center;
    margin-bottom: 2vw;
}

.editeditDiv > p {
    color: #989898;
    font-size: 1.25vw;
    margin-top: 4vw;
}


.editPage > hr {
    height: 0.05vw;
    border: none;
    background-color: #ECECEC;
}


.editForm > input {
    border-radius: 0.65vw;
}

.editFormButtons > input {
    border-radius: 0.65vw;
}

.editeditDiv > input {
    border-radius: 0.65vw;
}


.editFormError {
    margin: 0.2vw 0vw 1.2vw 0vw;
}

.editFormErrorText {
    font-size: 1.1vw;
    color: red;
    font-weight: 600;
    font-style: italic;
}


.editForm > input[type="password"] {
    width: 15vw;
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.6vw;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.editForm > input[type="email"] {
    width: 15vw;
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.6vw;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}


.editForm > input[type="date"] {
    width: 15vw;
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.6vw;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.editForm > input[type="text"] {
    width: 15vw;
    font-size: 1vw;
    margin: 0.5vw;
    padding: 0.6vw;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.editFormButtons > input[type="submit"] {
    width: fit-content;
    border-width: 0px;
    padding: 0.55vw 1.2vw 0.55vw 1.2vw !important;
    margin: 26px;
    transition: 0.2s;
    background-color: #067BE2;
    color: white;
    font-size: 1vw;
}

.editeditDiv > a > button {
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 12px;
    padding: 0.55vw 1.2vw 0.55vw 1.2vw !important;
    margin: 1.3vw;
    width: fit-content;
    transition: 0.2s;
    background-color: #f0f0f0;
    color: black;
    font-size: 1vw;
}

.editFormButtons > input[type="submit"]:hover {
    opacity: 75%;
    cursor: pointer;
}

.editeditDiv > input[type="button"]:hover {
    opacity: 75%;
    cursor: pointer;
}

