.addPostPage {
    width: 100%;
    margin: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPost {
    width: 760px;
    max-width: 78%;
    background-color:white;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    text-align: center;
}


.addPostText {
    font-size: 36px;
    margin: 20px 0px;
    display: inline-block;
}

.addPostForm > div {
    width: 100%;
}

.addPostFormPrompt {
    font-size: 21px;
}


.addPostFormImage {
    display: flex !important;
    justify-content: center;
}

.addPostFormImage > div {
    width: 40%;
    margin: 25px 0px;
    transition: 0.35s;    
}

.addPostFormImageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16 / 9;   
    background-color:#067BE2;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    color: white;
    cursor: pointer;
    transition: 0.35s;    
}

.addPostFormImageArea:hover {
    opacity: 75%;
}


.addPostFormImageArea > input {
    background-color:white;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    text-align: center;
}

.addPostFormImageArea > i {
    margin-top: 26px;
    font-size: 1.45rem;
}

.addPostFormImageArea > p {
    font-size: 1.48rem;
}

.addPostFormImagePreview {
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.addPostFormImagePreview > i {
    text-shadow: 0px 0px 4px black;
}
    
.addPostFormImagePreview > p {
    text-shadow: 0px 0px 4px black;
}

div:has(> .addPostFormImagePreview) {
    width: 70%;
}




.addPostFormSubmit {
    display: flex;
    justify-content: end;
}

.addPostFormSubmit > input {
    border-radius: 12px;
    width: fit-content;
    border-width: 0px;
    padding: 10px 15px;
    margin: 24px;
    transition: 0.2s;
    background-color: #067BE2;
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.addPostFormSubmit > input:hover {
    opacity: 75%;
}

.addPostFormText > textarea {
    max-width: 80%;
    min-width: 60%;
    resize: none;
    overflow: hidden;
    font-style: italic;
    border-radius: 12px;
    font-size: 24px;
    margin: 10px 5px;
    padding: 15px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.addPostFormText > textarea[name="header"] {
    height: 32px;
    width: 70%;
}

.addPostFormText > textarea[name="content"] {
    height: 175px;
    width: 85%;
    overflow-y: auto;
}


.addPostError {
    margin: 0.2vw 0vw 1.2vw 0vw;
}

.addPostError > .addPostErrorText {
    font-size: 21px;
    color: red;
    font-weight: 600;
    font-style: italic;
}