.post {
    background-color: white;
    width: 700px;
    max-width: 100%;
    height: fit-content;
    margin: 20px 0px;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}



.post > .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > .postTop > .postAuthor > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}


.post > .postTop > .postAuthor > a > img {
    border-radius: 12px;
    border-color:#ECECEC;
    border-width: 0.01vw;
    border-style: solid;
    width: 42px;
    margin: 16px 8px 16px 16px;
    cursor: pointer;
}

.post > .postTop > .postAuthor > a >  p {
    font-size: 21px;
    margin: 2px 2.5px;
    cursor: pointer;
}


.post > .postTop > .postDots > img {
    cursor: pointer;
    margin: 18px 20px 18px 18px;
    width: 32px;
    transition: 0.2s;
}

.post > .postTop > .postDots > img:hover {
    opacity: 75%;
}

.post > .postTop > .postDots > .dotsMenu {
    position: absolute;
}

@keyframes fade-in {
    from {opacity: 0%; margin-top: 0px;}
    to {opacity: 100%; margin-top: 2px;}
}

.dotsMenuButton {
    background-color: white;
    animation: fade-in 0.1s ease-in;
    padding: 8px;
    margin: 2px;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;   
    cursor: pointer; 
    transition: 0.2s;
}

.dotsMenuButton:hover {
    background-color: rgb(245, 249, 252);
}


.postHr {
    display: flex;
    align-items: center; 
    justify-content: center ;  
}

.postHr > hr {
    width: 95%;
    height: 0.05vw;
    border: none;
    background-color: #ECECEC;
}



.postHeader {
    display: flex;
    align-items: center;
    text-align: left !important;
}

.postHeader > p {
    font-size: 38px;
    margin: 12px 8px 8px 24px;
    overflow-wrap: anywhere;
    line-height: 42px;
}



.postContent {
    display: flex;
    align-items: center;
    text-align: left !important;
}

.postContent > p {
    overflow-wrap: anywhere;
    white-space: pre-line;
    font-size: 26px;
    margin: 4px 24px 16px 26px;
}


.postImages {
    width: 100%;
}

.postImagesImage {
    transition: 0.35s;
    z-index: 2;
    position: relative;
    max-width: 80%;
    max-height: 350px;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;   
    margin: 12px 0px 6px 0px;    
}

.postLike {
    display: flex;
    align-items: center;    

}

.postLike > img {
    margin: 18px 8px 18px 20px;
    z-index: 1;
    position: relative;
    cursor: pointer;  
    transition: 0.35s;
    filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(16%) hue-rotate(74deg) brightness(89%) contrast(89%);
}

.postLike > img:hover {
    opacity: 75%;
    transform: rotateZ(-12deg) scale(1.15);
    filter: brightness(0) saturate(100%) invert(45%) sepia(4%) saturate(2500%) hue-rotate(192deg) brightness(125%) contrast(100%);
}

.postLike > p {
    transition: 0.35s;
    font-size: 24px;
    padding-bottom: 2px;
    color:rgb(150, 150, 150);
}

img.blue {
    filter: brightness(0) saturate(100%) invert(35%) sepia(39%) saturate(5441%) hue-rotate(192deg) brightness(96%) contrast(95%);
}

p.blue {
    color:#067BE2;
}


.postComment {
    display: flex;
    align-items: center;
}

.postComment > input {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 16px 4px 12px 16px;
    width: 100%;
    padding: 8px;
    font-style: italic;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    border-radius: 0.4vw;
    background-color: #f0f0f0;
}

.post > .postComment > i {
    cursor: pointer;
    transition: 0.2s;
    color: #067BE2;
    margin: 16px 16px 12px 12px;
}

.post > .postComment > i:hover {
    opacity: 75%;
    transform: skewY(8deg) scale(1.05);
}
