.users > input[type="text"] {
    width: 260px;
    font-size: 18px;
    margin: 16px 0px;
    padding: 8px;
    border-radius: 6px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

html::-webkit-scrollbar {
    width: 6px;              
  }
  
  html::-webkit-scrollbar-track {
    background: #E9E9E9;
    border-radius: 32px;      
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;  
    border-radius: 32px;      
  }

.placesDiv {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 275px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    border-bottom: 0.1vw solid #E9E9E9;
    border-top: 0.1vw solid #E9E9E9;
}