.regModal {
    display: flex;
    justify-content: center;
    width: 100%;
    outline-style: none;
}

.regPage {
    width: 520px;
    height: fit-content;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    padding: 12px;
    text-align: center;
    margin: 36px 0px;
}

.regDiv {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.regFormDiv {
    width: 100%;
    background-color: white;
    margin-bottom: 8px;
}

.regFormPrompt {
    font-size: 18px;
    margin: 16px 0px 6px 0px;
}

.regFormBirthdayCheck {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 96px;
}

.regFormBirthdayCheckbox { 
    margin: 12px;
    width: 18px;
    aspect-ratio: 1 / 1;
}

.regFormBirthdayCheck > p { 
    font-size: 21px;
}

.regFormLocationCheck {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 96px;
}

.regFormLocationCheckbox { 
    margin: 12px;
    width: 18px;
    aspect-ratio: 1 / 1;
}

.regFormLocationCheck > p { 
    font-size: 21px;
}

.regFormAvatarCheck {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 96px;
}

.regFormAvatarCheckbox { 
    margin: 12px;
    width: 18px;
    aspect-ratio: 1 / 1;
}

.regFormAvatarCheck > p { 
    font-size: 21px;
}

.regFormImage {
    display: flex !important;
    justify-content: center;
}

.regFormImage.hidden {
    height: 0;
}

.regFormImage > div {
    width: 55%;
    margin: 25px 0px;
    transition: 0.35s;    
}

.regFormImageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16 / 9;   
    background-color:#067BE2;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    color: white;
    cursor: pointer;
    transition: 0.35s;    
}

.regFormImageArea:hover {
    opacity: 75%;
}


.regFormImageArea > input {
    background-color:white;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    text-align: center;
}

.regFormImageArea > i {
    margin-top: 26px;
    font-size: 1.45rem;
}

.regFormImageArea > p {
    font-size: 1.48rem;
}

.regFormImagePreview {
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.regFormImagePreview > i {
    text-shadow: 0px 0px 4px black;
}
    
.regFormImagePreview > p {
    text-shadow: 0px 0px 4px black;
}

div:has(> .regFormImagePreview) {
    width: 70%;
}







.regFormButtonsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regFormButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regFormButtons > * {
    margin: 1.5vw 1vw 1.5vw 1vw;
}

.regFormButtons > p {
    color: #067BE2;
    font-size: 1.045vw;
    transition: 0.2s;
}

.regFormButtons > p:hover {
    opacity: 75%;
    cursor: pointer;
}


.regXDiv {
    display: flex;
    justify-content: end;
}

.regX {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.regX > img {
    width: 0.95vw;
    filter: invert(37%) sepia(48%) saturate(6009%) hue-rotate(193deg) brightness(97%) contrast(95%);
}

.regFormTitle {
    width: 100%;
    padding: 2.2vw 0vw 1.6vw 0vw;
    display: flex;
    justify-content: center;
}

.regFormTitleText {
    font-size: 36px
}


.regFormDiv > form {
    text-align: center;
}


.regRegDiv {
    text-align: center;
    margin-bottom: 2vw;
}

.regRegDiv > p {
    color: #989898;
    font-size: 1.25vw;
    margin-top: 4vw;
}


.regPage > hr {
    height: 0.05vw;
    border: none;
    background-color: #ECECEC;
}

.regForm > input {
    border-radius: 0.65vw;
}

.regFormButtons > input {
    border-radius: 0.65vw;
}

.regRegDiv > input {
    border-radius: 0.65vw;
}


.regFormError {
    margin: 0.2vw 0vw 1.2vw 0vw;
}

.regFormErrorText {
    font-size: 1.1vw;
    color: red;
    font-weight: 600;
    font-style: italic;
}

.regForm > input[type="password"] {
    width: 280px;
    font-size: 18px;
    margin: 10px 0px 8px 0px;
    padding: 12px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.regForm > input[type="email"] {
    width: 280px;
    font-size: 18px;
    margin: 10px 0px 8px 0px;
    padding: 12px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.regForm > input[type="date"] {
    width: 280px;
    font-size: 18px;
    margin: 10px 0px 8px 0px;
    padding: 12px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.regForm > input[type="text"] {
    width: 280px;
    font-size: 18px;
    margin: 10px 0px 8px 0px;
    padding: 12px;
    border-style: solid;
    border-color: #E9E9E9;
    border-width:  0.1vw;
    background-color: #f0f0f0;
}

.regFormButtons > input[type="submit"] {
    width: fit-content;
    border-width: 0px;
    padding: 12px 16px;
    margin: 26px;
    transition: 0.2s;
    background-color: #067BE2;
    color: white;
    font-size: 18px;
}

.regRegDiv > a > button {
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    border-radius: 12px;
    padding: 12px;
    margin: 1.3vw;
    width: fit-content;
    transition: 0.2s;
    background-color: #f0f0f0;
    color: black;
    font-size: 1vw;
}

.regFormButtons > input[type="submit"]:hover {
    opacity: 75%;
    cursor: pointer;
}

.regRegDiv > input[type="button"]:hover {
    opacity: 75%;
    cursor: pointer;
}