.placeFoundBlock {
    background-color: white;
    width: 40%;
    height: fit-content;
    margin: 14px 0px;
    padding: 8px 12px;
    border-radius: 12px;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
    cursor: pointer;
    transition: 0.35s;
}

.placeFoundBlock:hover {
    opacity: 75%;
}

.placeFoundBlockTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.placeFoundBlockInfo {
    display: flex;
    align-items: center;
}

.placeFoundBlockInfo > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}



.placeFoundBlockAvatar > img {
    border-radius: 12px;
    width: 67px;
    height: 67px;
    margin: 16px 8px 12px 16px;
    cursor: pointer;
}

.placeFoundBlockName {
    display: flex;
    align-items: center;
}

.placeFoundBlockName > p {
    font-size: 21px;
    margin: 2px 6px;
    transition: 0.2s;
    cursor: pointer;
}
