.profilePage {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.profilePageText {
    font-size: 36px;
}

.profileDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile {
    max-width: 80%;
    margin: 20px;
    width: 600px;
    background-color: white;
    border-radius: 0.5vw;
    border-color: #E9E9E9;
    border-width: 0.1vw;
    border-style: solid;
}

.profileName {
    font-size: 32px;
    font-weight: 600;
    margin: 16px;
}


.profileInfo > {
    display: flex;
    justify-content: center;
}

.avatar {
    border-radius: 32px;
    width: 40%;
    border-color:#ECECEC;
    border-width: 0.05vw;
    border-style: solid;
}


.userInfo {
    font-size: 21px;
    margin: 9px;
}


.profile > input[type="button"] {
    min-width: 120px;
    width: fit-content;
    border-color: #E9E9E9;
    border-style: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 16px !important;
    margin: 24px 8px;
    background-color: #067BE2;
    color: white;
    transition: 0.2s;
}

.profile > input[type="button"]:hover {
    opacity: 75%;
    cursor: pointer;
}



.profileTumblerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileTumbler {
    width: fit-content;
    max-width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 18px;
    border-color:#ECECEC;
    border-width: 0.05vw;
    border-style: solid;
    background-color: white;
    padding: 4px 32px;
}

.profileTumbler > div {
    margin: 24px 36px;
}

.profileTumblerPosts {
    cursor: pointer;
    transition: 0.2s;
}

.profileTumblerPosts:hover {
    opacity: 75%;
}

.profileTumblerCorner {
    cursor: pointer;
    transition: 0.2s;
}

.profileTumblerCorner:hover {
    opacity: 75%;
}

.profileTumbler > div > p {
    font-size: 21px;
}





.profileUserPostsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileUserPosts {
    width: fit-content;
    max-width: 80%;
}

.profileUserCornerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileUserCorner {
    width: fit-content;
    max-width: 80%;
}